# created by virtualenv automatically
../venv/
tech-verse.log
db.sqlite3
.env
.log
.idea/
Profile/
froala_uploads/
BlogImage/
PostUploads/
blog/__pycache__/
blog/migrations/
chat/__pycache__/
chat/migrations/__pycache__/
core/__pycache__/
core/settings/__pycache__/
short/__pycache__/
short/migrations/__pycache__/
templates/__pycache__/
templates/short/__pycache__/
templates/chat/__pycache__/
templates/accounts/__pycache__/
templates/blog/__pycache__/
templates/users/__pycache__/
users/__pycache__/
users/migrations/__pycache__/
__pycache__/
.DS_Store
templates/registration/__pycache__/


napss2025


