{% extends "base.html" %}

{% load i18n %}

{% block title %} {% trans "Change Password" %} {% endblock title %}


{% block body %}

    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="#" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="text-center">
        <button type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'user:password_reset' %}">{% trans "Forgot Password?" %}</a>
        </p>
    </form>

{% endblock %}
