{% extends "base.html" %}

{% load i18n %}

{% block title %} {% trans "Sign In" %} {% endblock title %}


{% block body %}


    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    you are logged in.
    {% endif %}

    <p>
        {% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail you allowing you to reset it. Please contact us if you have any trouble resetting your password." %}
    </p>

    <form method="POST" action="{% url 'user:password_reset' %}" class="form-group">
        {% csrf_token %}
        {{ form.as_p }}
        <p class="text-center">
            <button  type="submit">{% trans "SEND" %}</button><br>
        </p>
    </form>


{% endblock %}
