<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
<nav>
    <ul>
        <li>
            <a  href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'user:profile' %}">{{ user }}</a>
        </li>
        <li>
            <a  href="{% url 'user:logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
            <a  href="{% url 'user:login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'user:signup' %}">Signup</a>
        </li>
        {% endif %}
    </ul>
</nav>
    {% if messages %}
        {% for message in messages %}
             {{ message }}
        {% endfor %}
    {% endif %}

  {% block body %}

  {% endblock body %}

</body>
</html>