<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
<!--    <script src="https://cdn.tailwindcss.com"></script>-->
    {{ form.media }}
<!--    <link rel="stylesheet" href="{% static 'froala_editor/css/froala_editor.pkgd.min.css' %}">-->
<!--    <script src="{% static 'froala_editor/js/froala_editor.pkgd.min.js' %}"></script>-->
    {% block head_extra %}{% endblock head_extra %}
</head>
<body>
<nav>
    <ul>
        <li>
            <a  href="/">Home</a>
        </li>
        <li>
            <a  href="{% url 'blog:list' %}">Blog</a>
        </li>
        <li>
            <a  href="{% url 'short:list' %}">Short</a>
        </li>
        <li>
            <a  href="{% url 'chat:index' %}">Chat</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'user:profile' %}">{{ user }}</a>
        </li>
        <li>
            <a  href="{% url 'user:logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
            <a  href="{% url 'user:login' %}">Login</a>
        </li>
        <li>
            <a href="{% url 'user:signup' %}">Signup</a>
        </li>
        {% endif %}
    </ul>
</nav>
    {% if messages %}
        {% for message in messages %}
             {{ message }}
        {% endfor %}
    {% endif %}

  {% block body %}

  {% endblock body %}

</body>
</html>